# =====================
# Python / Backend
# =====================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# =====================
# Logs
# =====================
*.log

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# VS Code
# =====================
.vscode/






